@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #222;
}
.material-icons {
	font-size: 120px;
	color: white;
}
.menu {
	position: relative;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fi1, minmax(300px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	place-items: center;
	gap: 10px;
	padding: 20px;
	grid-auto-flow: dense;
}

.items {
	background: #333;
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
	padding: 40px;
	display: grid;
	place-items: center;
}

.item-email {
	background: #f44336;
}

.item-settings {
	background: #651fff;
}

.item-image {
	background: #00796b;
}

.items:nth-child(1) {
	grid-column: span 2;
	grid-row: span 2;
}

.items:nth-child(2) {
	grid-column: span 1;
	grid-row: span 2;
}

.items:nth-child(3) {
	grid-column: span 1;
	grid-row: span 2;
}

.items:nth-child(4) {
	grid-column: span 1;
	grid-row: span 2;
}
.items:nth-child(5) {
	grid-column: span 1;
	grid-row: span 2;
}
.items:hover {
	opacity: 1;
}
@media (max-width: 768px) {
	.menu {
		grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	}
	.menu .items {
		grid-column: unset;
		grid-row: unset;
	}
}
